.navbar {
	height: 70px;
	background: rgb(10, 116, 173);
	color: white;
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 10px 5px;
	font-size: 18px;

}
ul{
    margin-bottom: 3px;
}

.icon {
	text-decoration: none;
	color: white;
}

.links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 20px;
	list-style: none;
}

.link {
	text-decoration: none;
	color: white;
	transition: 0.3s all;
}

.link:hover {
	color: red;
}
