.result {
    white-space: pre-line;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    font-size: 25px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}

.tabl {
    white-space: pre-line;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
    background-color: lightblue;
    font-size: 25px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}

.t {
    white-space: pre-line;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    border: 1px solid;
    background-color: lightblue;
    font-size: 25px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}